<div class="container" style="margin-top:100px;">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center text-info mt-5">
        Welcome to {{ title }}!
      </h1>
      <h2 class="mt-5 text-info text-center">Our Angular Apps is ready for yours Health & Beauty Receipes.</h2>
    </div>

  </div>



  <div class="row mt-5" style="margin-top:100px;">
    <div class=" col-sm text-center mt-5">
      <h3>Look for Receipes</h3>
      <p class="lead">Check the resources provided by community and H&B App team with receipes. When you want to share
        your fantastic receipe voila...
      </p>
      <div class="btn btn-outline-dark"><a href="receipes" class="text-d">Search For</a></div>
    </div>
    <div class="col-sm text-center mt-5">
      <h3>Score Receipes</h3>
      <p class="lead">All receipes are validated by user and sort by the best score. Provide you score and share with
        others the opinion about our new
        receipes</p>
      <div class="btn btn-outline-dark"><a href="scored">Score Receipes</a></div>
    </div>
    <div class="col-sm text-center mt-5">
      <h3>Learn Health & Beauty</h3>
      <p class="lead">The H&B data base contains 120.000 receipes scored and checked by user. Learn with our app how
        to
        care about vibrant topics</p>
      <div class="btn btn-outline-dark"><a href="vibranttopics">Learn More</a></div>
    </div>
  </div>

</div>